<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Product</h1>
    <form th:action="@{/addProducts}" method="post">
        <input type="text" name="Name" placeholder="Product Name">
        <select name="Type">
           <option value="" disabled selected >Select Type</option>
           <option th:each="type : ${TypeList}" th:value="${type.tid}" th:text="${type.tName}"></option>
        </select>
        <input type="number" name="Price" placeholder="Product Price">
        <input type="number" name="Quantity" placeholder="Product Quantity">
        <input type="text" name="Img" placeholder="Product IMG">
        
        <button type="submit">Add</button>

    </form>
</body>
</html>